body{
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #ff6f61;
  text-align: center; /* centraliza tudo */
  padding: 20px 0;
}

header img {
  display: block;
  margin: 0 auto 15px auto; /* centraliza o logo e adiciona espaço abaixo */
  width: 150px; /* ajuste conforme o tamanho do logo */
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 0 15px;
}

nav a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s;
}

nav a:hover {
  color: #ffe8e0;
}

.banner {
  width: 100%;
  height: 400px; /* ajuste conforme o tamanho desejado */
  background-image: url("../imagens/Banner/Receita especial para o dia dos avós banner.jpg");
  background-size: cover; /* ajusta para preencher sem distorcer */
  background-position: center;
  border-top: 5px solid #ff7f7f; /* mantém o detalhe vermelho se quiser */
}

.destaque, .receitas {
  padding: 20px;
}

.destaques h2, .receitas h2{
margin-bottom: 10px;
}

.filtro input{
padding: 5px;
width: 200px;
margin-bottom: 20px
}

.card{
  display: inline-block;
  width: 200px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
  vertical-align: top;
}

.card img{
  width: 100%;
}

.card p{
  padding: 10px;
  margin: 0;
}
